#saturn_image {
	float: right;
	margin-right: 75px;
	padding: 10px;
	width: 900px;
	height:474px;
	border-style: solid;
	border-color: #FFFFFF;
	border-width: thick;
}
body {
	background-color: #000000;
}
p {
	color: #FFFFFF;
	font-family: "Lucida Console", monospace;
}
h1 {
	color: #FFFFFF;
	font-family: "Lucida Console", monospace;
}
h2 {
	color: #FFFFFF;
	font-family: "Lucida Console", monospace;
}
li {
	color: #FFFFFF;
}
a {
	color: #FFFFFF;
	font-family: "Lucida Console", monospace;
	font-size: 17px;
}
a:hover {
	font-size: 20px;
}
input {
	font-family: "Lucida Console", monospace;
	background-color: #000000;
	color: #FFFFFF;
	border-color: #27FF00;
	width: 50pz;
	height: 10px;
}
button {
	color: #FFFFFF;
	background-color: #000000;
	border-color: #27FF00;
	font-family: "Lucida Console", monospace;
}

#asteroids_image {
	float: right;
	margin-right: 10px;
	width: 750px;
	height: 375px;
	border-style: solid;
	border-color: #FFFFFF;
	border-width: thick;
}